.panda-bg-info{
    background-color: #fceae8;
}
.panda-btn-buy-now{
    background-color: #ff458f;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    padding: 9px 25px;
}
.category img{
    width: 100px;
}